<h4>Edit Project</h4>

<label>New Project Title:</label>
<input [(ngModel)]="selectedProject.title">
<br>

<label>New Project Starter:</label>
<input [(ngModel)]="selectedProject.starter">
<br>

<label>New Project Description:</label>
<input [(ngModel)]="selectedProject.description">

<label>New Project Goal:</label>
<input type="number" [(ngModel)]="selectedProject.goal">
<br>

<label>New Project Plans:</label>
<input [(ngModel)]="selectedProject.plans">
<br>

<label>New Project Swag:</label>
<input [(ngModel)]="selectedProject.swag">
<br>
