<h4>Edit Project</h4>

<label>New Project Title:</label>
<input [(ngModel)]="selectedProject.title">
<br>

<label>New Project Starter:</label>
<input [(ngModel)]="selectedProject.starter">
<br>

<label>New Project Description:</label>
<textarea  [(ngModel)]="selectedProject.description"></textarea>
<br>

<label>New Project Goal:</label>
<input type="number" [(ngModel)]="selectedProject.goal">
<br>

<label>New Project Plans:</label>
<textarea  [(ngModel)]="selectedProject.plans"></textarea>
<br>

<label>New Project Swag:</label>
<textarea [(ngModel)]="selectedProject.swag"></textarea>
<br>

<button (click)="beginUpdatingProject(selectedProject)">Update</button>
