<h2>Projects</h2>

<div *ngFor="let project of projects | async" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(project)"><em>{{project.title}}</em> started by {{project.starter}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      <p>Description: {{project.description}}</p>
      <p>Goal: {{project.goal}}</p>
      <p>Plans: {{project.plans}}</p>
      <p>Swag: {{project.swag}}</p>
      <hr>
      <app-edit-project></app-edit-project>
    </div>
  </div>
</div>
